@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
/* Primary Colors */
  --Very-dark-blue: hsl(233, 47%, 7%); /* main background */
  --Dark-blue: hsl(244, 38%, 16%); /* card background */
  --Soft-violet: hsl(277, 64%, 61%); /* accent */
/* Neutral Colors */
  --White: hsl(0, 0%, 100%); /* main heading, stats */
  --Slightly-transparent-white-75: hsla(0, 0%, 100%, 0.75); /* main paragraph */
  --Slightly-transparent-white-60: hsla(0, 0%, 100%, 0.6); /* stat headings */
}

/* Common settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;;
  opacity: .8;
}
span {
  color: var(--Soft-violet);
}
/* Desktop design */
.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: Inter, sans-serif;
  background-color: var(--Very-dark-blue);
}
.grid-cnt {
  margin: auto;
  display: grid;
  grid-template-columns: 570px 540px;
  grid-template-rows: 445px;
  background-color: var(--Dark-blue);
  border-radius: 10px;
  overflow: hidden;
}
.text-cnt {
  margin: 71px 100px 0 70px;
}
.header-text {
  color: var(--White);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 28px;
}
.description-text {
  color: var(--Slightly-transparent-white-60);
  padding-right: 20px;
  line-height: 1.6;
  margin-bottom: 74px;
}
.bottom-grid {
  display: grid;
  grid-template-columns: 148px 137px 120px;
  grid-template-rows: 35px 20px;
}
.bottom-numbers {
  color: var(--White);
  font-size: 24px;
  font-weight: 700;
}
.bottom-text {
  color: var(--Slightly-transparent-white-75);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.image-cnt {
  background-color: var(--Soft-violet);
}

@media (max-width: 375px) {
/* Mobile design */
.grid-cnt {
  grid-template-columns: 330px;
  grid-template-rows: 240px 540px; 
}
.text-cnt {
  grid-area: 2/1/3/1;
}
.text-cnt {
  text-align: center;
  margin: 40px 30px 0 30px;
}
.header-text {
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: .5px;
  margin-bottom: 15px;
}
.description-text {
  line-height: 1.6;
  padding-right: 0px;
  margin-bottom: 42px;
}
.bottom-grid {
  display: grid;
  grid-template-rows: 35px 45px 35px 45px 35px;
  grid-template-columns: auto;
}
.bottom-grid .item2 {
  grid-area: 3/1/4/1;
}
.bottom-grid .item3 {
  grid-area: 5/1/6/1;
}
.bottom-numbers {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.bottom-text {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.1px;
  margin-bottom: 30px;
}
}